:root {
    --background-color: #ffffff;
    --outline-color: #cccccc;
    --gradient-default: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(235, 238, 241) 85%, rgb(215, 221, 224) 100%);
    --gradient-hover: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 85%, rgb(221, 237, 245) 100%);
    --glow: 0px 2px 10px rgba(97, 179, 255, 0.7);
    --key-text-color: rgb(39, 45, 53);
    --text-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}
#text-container {
    padding: 5px 5px;
    outline-style: solid;
    outline-width: 1px;
    border-radius: 4px;
    width: 46.875rem;
    height: 36.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    white-space: pre-wrap;
    tab-size: 12;
    outline-color: var(--outline-color);
    color: var(--text-color);
}
#keyboard-container {
    position: absolute;
    width: 46.875rem;
    font-size: 0;
    left: 50%;
    transform: translate(-50%, 240%);
}
button {
    margin: 5px 5px;
    padding: 0px 0px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    outline-style: solid;
    outline-width: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: 150ms;
    color: var(--key-text-color);
    outline-color: var(--outline-color);
    background: var(--gradient-default);
}
button:hover, .pressed {
    background: rgb(255,255,255);
    background: var(--gradient-hover);
    box-shadow: var(--glow);
}
button:active {
    transform: scale(94%);
}
#spacebar:active {
    transform: scale(98%);
}
#tab {
    width: 65px;
    position: absolute;
    top: 50px;
}
#q {
    margin-left: 80px;
}
#a {
    margin-left: 90px;
}
#caps {
    position: absolute;
    top: 100px;
    width: 75px;
}
#backspace {
    position: absolute;
    top: 0px;
    width: 90px;
}
#enter {
    position: absolute;
    top: 50px;
    width: 65px;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 25% 37%, 0 37%); */
}
#l-shift {
    position: absolute;
    top: 150px;
    width: 50px;
}
#lessthan {
    margin-left: 65px;
}
#r-shift {
    position: absolute;
    top: 150px;
    width: 129px;
}
#l-ctrl {
    width: 50px;
}
.windows {
    position: absolute;
    top: 200px;
    font-size: 16px;
    line-height: 55%;
    width: 50px;
}
#l-alt {
    margin-left: 65px;
    width: 50px;
}
#spacebar {
    color: var(--key-text-color);
    width: 310px;
}
#r-alt {
    width: 50px;
}
#theme {
    margin-left: 65px;
    width: 59px;
}
#r-ctrl {
    width: 50px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}